

.Blog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Blog li {
    display: inline-block;
    margin: 20px;
}

.Blog li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.Blog li a:hover, .Blog li a:active {
    color: #ff6600;
}